### Write Pythonic and Clean Code With namedtuple

In [1]:
point = (2,4)
point

(2, 4)

In [2]:
point[0]

2

In [3]:
point[1]

4

In [4]:
from collections import namedtuple

In [5]:
Point = namedtuple("Point", "x y")
issubclass(Point, tuple)

True

In [6]:
point = Point(2, 4)
point

Point(x=2, y=4)

In [7]:
point.x

2

In [8]:
point.y

4

In [9]:
point[0]

2

In [10]:
point[1]

4

In [11]:
# You can store mutable objects at namedtuple values
Person = namedtuple("Person", "name children")
john = Person("John Doe", ["Timmy", "Jimmy"])
id(john.children)

2252792314184

In [12]:
john.children.append("Tina")
john

Person(name='John Doe', children=['Timmy', 'Jimmy', 'Tina'])

In [13]:
id(john.children)

2252792314184

#### Providing Required Arguments to namedtuple()

In [14]:
# As list
Point = namedtuple("Point", ["x", "y"])
Point

__main__.Point

In [15]:
Point(2, 4)

Point(x=2, y=4)

In [16]:
# As csv-alike
Point = namedtuple("Point", "x, y")
Point

__main__.Point

In [17]:
Point (4, 8)

Point(x=4, y=8)

In [18]:
# As generator
Point = namedtuple("Point", (field for field in "xy"))
Point

__main__.Point

In [19]:
Point(8, 16)

Point(x=8, y=16)

In [20]:
# With dict-unpack
Point = namedtuple("Point", "x y")
Point(**{"x": 4, "y":8})

Point(x=4, y=8)

#### Using optional arguments with namedtuple()

In [21]:
fields = ["_id,", "name", "class"]
Passenger = namedtuple("Passenger", fields, rename=True)
# With true rename argument invalid field names will be replaced with positional names
passenger = Passenger("123", "John Doe", "Business")
passenger

Passenger(_0='123', name='John Doe', _2='Business')

In [22]:
Developer = namedtuple("Developer", "name level language", defaults=["Junior", "Python"])
# Will assign values in the defaults iterable to the rightmost fields
Developer("John")

Developer(name='John', level='Junior', language='Python')

In [23]:
Point = namedtuple("Point", "x y", module="custom")
Point

custom.Point

In [24]:
Point.__module__

'custom'

#### Creating namedtuple instances from iterables

In [25]:
Person = namedtuple("Person", "name age height")
jane = Person._make(["Jane", 25, 1.75])
jane
# The method takes an iterable of values and returns a new named tuple

Person(name='Jane', age=25, height=1.75)

#### Converting namedtuple instances into dictionaries

In [26]:
jane._asdict()

OrderedDict([('name', 'Jane'), ('age', 25), ('height', 1.75)])

#### Replacing fields in existing namedtuple instances

In [27]:
jane = jane._replace(age=26)
jane

Person(name='Jane', age=26, height=1.75)

#### Additional namedtuple attributes

In [28]:
ExtendedPerson = namedtuple("ExtendedPerson", [*Person._fields, "weight"])
jane = ExtendedPerson("Jane", 26, 1.75, 67)
jane

ExtendedPerson(name='Jane', age=26, height=1.75, weight=67)

In [29]:
for field, value in zip(jane._fields, jane):
    print(field, "->", value)

name -> Jane
age -> 26
height -> 1.75
weight -> 67

In [30]:
for field, value in jane._asdict().items():
    print(field, "->", value)

name -> Jane
age -> 26
height -> 1.75
weight -> 67

In [31]:
Developer._field_defaults

{'level': 'Junior', 'language': 'Python'}

#### Using field names instead of indices

In [32]:
pen = (2, "solid", True)
if pen[0] == 2 and pen[1] == "solid" and pen[2] == True:
    print("Standard pen selected")

Standard pen selected

In [33]:
Pen = namedtuple("Pen", "width style beveled")
pen = Pen(2, "solid", True)
if pen.width == 2 and pen.style == "solid" and pen.beveled:
    print("Standard pen selected")

Standard pen selected

#### Returning multiple named values from functions

In [34]:
divmod(8, 4)

(2, 0)

In [35]:
def custom_divmod(a, b):
    DivMod = namedtuple("Divmod", "quotient remainder")
    return DivMod(*divmod(a, b))
custom_divmod(8, 4)

Divmod(quotient=2, remainder=0)

#### Reading tabular data from files and databases

In [36]:
import csv

In [37]:
with open("employees.csv", "r") as fin:
    reader = csv.reader(fin)
    Employee = namedtuple("Employee", next(reader), rename=True)
    for row in reader:
        employee = Employee(*row)
        print(employee.name, employee.job, employee.email, sep="\t")

Linda	Technical Lead	linda@example.com
Joe	Senior Web Developer	joe@example.com
Lara	Project Manager	lara@example.com
David	Data Analyst	david@example.com
Jane	Senior Python Developer	jane@example.com

#### Namedtuple vs dictionary

In [38]:
from pympler import asizeof

In [39]:
Point = namedtuple("Point", "x y z")
point = Point(1, 2, 3)
namedtuple_size = asizeof.asizeof(point)
dict_size = asizeof.asizeof(point._asdict())
gain = 100 - namedtuple_size / dict_size * 100

print(f"namedtuple: {namedtuple_size} bytes ({gain:2f}% smaller)")
print(f"dict: {dict_size} bytes")

namedtuple: 168 bytes (76.923077% smaller)
dict: 728 bytes

#### Namedtuple vs DataClass

In [40]:
from dataclasses import dataclass

In [41]:
@dataclass
class Person:
    name: str
    age: int
    height: float
    weight: float
    country: str = "Canada"

In [42]:
jane = Person("Jane", 25, 1.75, 67)
jane

Person(name='Jane', age=25, height=1.75, weight=67, country='Canada')

In [43]:
jane.name

'Jane'

In [44]:
jane.name = "Jane Doe"
jane.name

'Jane Doe'

You can set the <b>dataclass()</b> decorator’s <b>frozen</b> argument to <i>True</i> and make them immutable

<b>DataClass</b> object is <b>not iterable</b>

#### Subclassing namedtuple classes

In [45]:
from datetime import date

In [46]:
BasePerson = namedtuple("BasePerson", "name birthdate country", defaults=["Canada"])

In [47]:
class Person(BasePerson):
    """A namedtuple subclass to hold a person's data."""
    __slots__ = ()
    def __repr__(self):
        return f"Name: {self.name}, age: {self.age} years old."
    @property
    def age(self):
        return (date.today() - self.birthdate).days // 365

In [48]:
Person.__doc__

"A namedtuple subclass to hold a person's data."

In [49]:
jane = Person("Jane", date(1996, 3, 5))
jane.age

25

In [50]:
jane

Name: Jane, age: 25 years old.